.card-body small p {
    margin-top: 20px;
}

.card img {
    min-height: 300px;

}

.card {
    padding: 0;
    margin: 0;
    border-radius: 0;
    margin-bottom: 30px;
    border: 0;



}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summery-p {

    text-decoration: none;
    color: black;
}

.summery-p:hover {
    text-decoration: underline;
}

.card:hover p {
    text-decoration: underline;
}

.card a {
    text-decoration: none;
    color: black;
}